.blurred-box {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tus preferencias */
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.308);

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blurred-box div {
    display: flex;
    justify-content: center;
    align-items: center;
}